name: Core CI

on: [push, pull_request]

jobs:
  test_policies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install OPA
        run: |
          curl -L -o opa https://openpolicyagent.org/downloads/latest/opa_linux_amd64_static
          chmod +x ./opa
      - name: Run OPA Tests
        run: ./opa test policy/ -v

  test_packages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: npm install
      - name: Run All Package Tests
        run: npm test --workspaces
